body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 500px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main p {
    color:rgb(69, 91, 117);
    text-align:center
}

header h1 {
    text-align: center;
    margin-top: 20px;
}
section input,section textarea,section select,section button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
section button {
    background-color: #109b45;
    color: white;
    cursor: pointer;
}
section button:hover {
    background-color: #4c8baf;
}
footer {
    text-align: center;
    margin-top: 20px;
    padding: 15px 0;
    font-size: 14px;
}
